#sidebar
	margin: $gutter 0

	.sidebar-content

		.widget
			list-style-type: none

// Sidebar flex styles
#content > .container
	+mq($from: laptop)
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		#main
			width: 100%

		#sidebar
			width: 30%
			margin-right: 5%
			margin-top: 0

			& + #main
				width: 65%