.social-media
	display: flex
	align-items: center

	span
		font-family: $font-header
		display: block
		margin-right: $gutter-small
	
	.platform
		margin-left: $gutter-small

		&.facebook a
			color: #3b5998

		&.twitter a
			color: #1da1f2

		&:first-of-type
			margin-left: 0