#reviews
	margin: $gutter 0

	// Script content from freeindex
	.FIWidgetContainer
		@extend .break
		margin-bottom: $gutter-small!important

		& > .FIW_All:not(.FIBrandBar)
			@extend .container
			margin: 0 auto!important
			padding: 0!important

		.FIW_All
			font-family: $font-header!important
			+fontSizeRatio(1.4rem)

		.FIBrandBar
			background: none!important
			border-bottom: none!important
			padding: 0!important
			height: auto!important
			text-align: center

			.FIBrandBarText,
			#fi-widget-top-stars
				float: none!important
				display: inline-block!important
				background: none!important

			#fi-widget-top-stars
				margin-left: $gutter-small!important

		.FIWidgetInfo
			display: none

		.reviews

			.FIWidgetInfo_review
				margin: 0!important
				padding: 0!important
				text-align: center
				
				.rating_image
					display: none

				.FIWidgetInfo_reviewText
					padding: 0!important
					margin: 0!important
					padding: $gutter 0!important

					.FIWidget_SnipReview

						.FIWidget_ReviewMore
							margin-left: 3px!important
							font-weight: 600

					.FIWidget_FullReview

					.FIWidget_ReviewName
						font-weight: 600
						margin-bottom: $gutter-tiny!important

					.WidgetStars
						margin: 0 auto!important

		.FIWidget_WriteReviewBtn
			display: block!important
			margin: 0 auto!important
			max-width: 125px

		.FIBrandBarBtm
			display: none!important

	+mq($from: tablet)
		margin: $gutter-large 0


	+mq($from: laptop)
		margin: $gutter-huge 0

		.FIWidgetContainer
			.FIW_All.reviews
				margin: $gutter-large 0!important

			.reviews
				display: grid
				grid-template-columns: repeat(3, 1fr)
				grid-gap: $gutter

				.FIWidgetInfo_review
					padding-top: 0!important

					.FIWidgetInfo_reviewText
						padding: 0!important
						border: none!important

	+mq($from: wide)
		.FIWidgetContainer
			& > .FIW_All:not(.FIBrandBar)
				width: 100%!important
				margin-left: auto!important
				margin-right: auto!important

			.FIBrandBarContent
				max-width: $site-width
				margin: 0 auto