#services
	.service
		text-align: center
		background: $color-secondary
		color: $color-white

		.block
			padding: $gutter

			&.description

				.button
					margin-top: $gutter
					
					&:hover
						color: $color-secondary

					span
						background: $color-white

			&.image
				display: none

	+mq($from: tablet)

	+mq($from: laptop)
		.service
			display: grid
			grid-template-columns: repeat(3, 1fr)
			grid-gap: $gutter-tiny
			min-height: 40vh
			background: none

			.block
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				margin-bottom: $gutter-tiny
					

				&.description
					background: $color-secondary
					
					.service-description
						max-width: 50ch
						margin: 0 auto

				&.image
					display: flex
					position: relative

					.overlay
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						display: flex
						justify-content: center
						align-items: center
						background: transparentize($color-black-pure, 0.25)
						+defaultTransition

						.overlay-content
							opacity: 0
							width: 75%
							padding: $gutter-large $gutter
							background: transparentize($color-white, 0.4)
							color: $color-black
							font-family: $font-header
							+fontSizeRatio(map-get($font-sizes, h4))
							+defaultTransition

					&:hover
						.overlay
							background: transparentize($color-black-pure, 0.5)

							.overlay-content
								opacity: 1

			// Alternate sides
			&:nth-of-type(odd)
				.block
					&.description
						order: 3

					&.image:nth-of-type(2)
						order: 2

					&.image:last-of-type
						order: 1