.home
	#content
		margin: 0

		& > .container
			display: block
		
	// Hero
	#hero-image
		min-height: 44vw

		+mq($from: tablet)
			min-height: 0
			height: 40vh

		+mq($from: laptop)
			height: calc(100vh - 140px)