#content
	margin: $gutter 0

	ul, ol
		list-style-type: inherit
		padding-left: $gutter
		margin: $gutter 0

		li
			margin-bottom: $gutter-small

			&:last-of-type
				margin-bottom: 0

	img
		display: block
		width: auto
		height: auto

	input, select, textarea
		border: 1px solid transparentize($color-black, 0.7)

	.gform_wrapper
		margin: $gutter 0
		
		form .gform_footer input[type="submit"]
			color: $color-black

			&:hover
				color: $color-white

	+mq($from: laptop)
		margin: $gutter-large 0