$font-header: 'Montserrat', sans-serif
$font-body: 'Merriweather', serif

$font-size-default: 1.6rem
$font-sizes: ( h1: 3.4rem, h2: 2.8rem, h3: 2.4rem, h4: 2.2rem, h5: 2rem, h6: 1.8rem )

=fontSizeRatio($font-size: $font-size-default)
	font-size: $font-size
	line-height: decimal-round($font-size * 1.42857, 1)

=headerFont($font-size)
	font-family: $font-header
	+fontSizeRatio($font-size)

\:root
	font-size: 62.5%

	body
		+fontSizeRatio($font-size-default)

body
	font-family: $font-body
	color: $color-black

p
	margin-bottom: $gutter-small

	&:last-of-type
		margin-bottom: 0

a
	color: $color-primary
	text-decoration: none

	&:hover
		text-decoration: underline

@for $i from 1 through 6
	h#{$i}
		+headerFont(map-get($font-sizes, h#{$i}))

		@if $i == 1 or $i == 2
			font-weight: 700
		@else if $i == 3 or $i == 4
			font-weight: 600

		margin-bottom: $gutter