.container
	width: $site-width-mobile
	max-width: $site-width
	margin: 0 auto

body
	overflow-x: hidden

*:before,
*:after
	z-index: -1

// Break CSS
.break
	width: 100vw
	margin-left: calc((100% - 100vw) / 2)!important
	margin-right: calc((100% - 100vw) / 2)!important

	+mq($from: laptop)
        margin-left: calc((100% - -17px - 100vw) / 2)!important
        margin-right: calc((100% - -17px - 100vw) / 2)!important
        width: auto!important