.cta
	.left
		display: none

	.right
		.content
			margin-bottom: $gutter

		.buttons .button
			color: $color-primary
			border-color: $color-primary

			&:hover
				color: $color-white
				border-color: $color-white

	+mq($until: tablet)
		.right
			.buttons .button
				width: 100%
				max-width: 100%

	+mq($from: tablet)
		display: flex
		justify-content: space-between
		align-items: center

		.left
			display: block
			max-width: 30%
			margin-right: $gutter

		.right
			max-width: 55ch

	+mq($from: laptop)
		.left
			max-width: 45%