.footer-top
	background: #626262

	.footer-section
		margin-bottom: $gutter

		.widgetarea
			ul li
				margin-bottom: $gutter-small

				&:last-of-type
					margin-bottom: 0

	.gform_wrapper form .gform_footer input[type="submit"]
		color: #626262

		&:hover
			color: $color-white
			background: #626262

	+mq($from: tablet)
		.footer-section
			margin-bottom: 0
	
	+mq($from: laptop)
		.footer-section:last-of-type
			text-align: right