footer
	font-family: $font-header
	color: $color-white

	a
		color: $color-white
		font-weight: 600

	.footer-top, .footer-bottom
		padding: $gutter 0

	+mq($from: tablet)
		.footer-top
			padding: $gutter-large 0

		.footer-top > .container
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-gap: $gutter

	+mq($from: laptop)
		.footer-top > .container
			grid-template-columns: repeat(4, 1fr)
			grid-gap: $gutter