.footer-bottom
	background: #424242
	text-align: center

	.left
		margin-bottom: $gutter-small

	+mq($from: laptop)
		+fontSizeRatio(1.3rem)

		.container
			display: flex
			justify-content: space-between
			align-items: center

			.left
				text-align: left
				margin-bottom: 0

			.right
				text-align: right
				width: 40%