footer .FIWidgetContainer
	max-width: 200px!important

	.FIBrandBar,
	.FIWidgetInfo,
	.FIBrandBarBtm
		margin: 0!important
		padding: $gutter-small!important
		height: 50px!important

	.FIBrandBar
		background: #374355!important
		border-bottom: none!important
		

	.FIWidgetInfo
		background: #3D4D65!important
		border-top: 1px solid #53657D!important
		border-bottom: 1px solid #53657D!important
		color: $color-white!important

		.FIWidgetLink
			font-weight: 400!important

	.FIBrandBarBtm
		background: #374355!important
		border-top: none!important