footer .footer-menu
	+mq($from: laptop)
		.menu
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center

			.menu-item
				margin-left: $gutter-small
				padding-left: $gutter-small
				border-left: 1px solid $color-white

				&:first-of-type
					border-left: none

				a
					display: block

				.sub-menu
					display: none!important