.gform_wrapper
	// height: 100%
	position: relative

	form
		// height: 100%

		// Hide multiple page form progression
		.gf_progressbar_wrapper
			display: none

		.gform_heading
			margin-bottom: $gutter

			.gform_title
				margin-bottom: $gutter-small
				+fontSizeRatio(map-get($font-sizes, h1))

			.gform_description

		.gform_body

			.gform_fields
				list-style-type: none!important
				padding: 0!important
				margin: 0!important

				.gfield
					margin-bottom: $gutter!important
					position: relative

					label
						display: block
						margin-bottom: $gutter-small
						font-family: $font-header
						font-weight: 700
						clear: both
						overflow: hidden

						.gfield_required
							margin-left: $gutter-tiny
							color: $color-red

						svg
							float: right

					&.gform_validation_container
						display: none

						&.shown
							display: flex

						&.validation_message
							display: block
							position: static
							height: auto
							color: $color-primary
							font-weight: bold

							&:after
								display: none

			.gform_page
				display: flex
				flex-direction: column
				justify-content: space-between
				height: 100%

				.gform_page_footer input

					&:not([type="submit"])
						margin-bottom: $gutter-small


			input, select, textarea, button
				

		.gform_footer input[type="submit"]
			max-width: 100%
			line-height: 20px
			color: $color-secondary

			&:hover
				color: $color-white
				background: $color-secondary
				border-color: $color-white

	.gform_ajax_spinner
		position: absolute
		top: calc(50% - (50px / 2))
		left: calc(50% - (50px / 2))
		width: 50px
		height: 50px

	// Validation Error
	.validation_error
		background: $color-primary
		padding: $gutter-small
		margin-bottom: $gutter-small
		


	// Validation Message
	.validation_message
		color: $color-primary
		margin-top: $gutter-small