input, select, textarea
	display: block
	width: 100%
	padding: $gutter-small
	background: $color-white
	color: #242424
	font-family: $font-header
	border: none
	appearance: none
	+fontSizeRatio()

select
	padding-right: $gutter