.buttons
	.button
		margin-bottom: $gutter

		&:last-of-type
			margin-bottom: 0

	+mq($from: tablet)
		display: flex
		justify-content: center

		.button
			margin: 0 $gutter-small

	+mq($from: laptop)
		justify-content: flex-start

		.button
			margin-left: 0
			margin-right: $gutter