.button
	position: relative
	display: block
	overflow: hidden
	width: 100%
	height: $button-height
	max-width: $button-width
	margin: 0 auto
	text-transform: uppercase
	border: 1px solid transparentize($color-white, 0.6)
	line-height: $button-height
	text-decoration: none
	font-family: $font-header
	color: $color-white
	text-align: center
	font-weight: 600
	+defaultTransition
	cursor: pointer
	z-index: 2
	
	span
		position: absolute
		display: block
		width: 0
		height: 0
		border-radius: 50%
		background-color: $color-secondary
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out
		transform: translate(-50%, -50%)
		z-index: -1

	&:hover, &:active
		outline-width: 0

	&:hover
		color: $color-white
		border-color: $color-secondary
		text-decoration: none

		span
			width: 225%
			height: $button-width * 2.25

	&:active
		background-color: $color-secondary