.contact-info
	.social-media, .phone, .email
		height: 25px

	.social-media
		padding-right: $gutter
		border-right: 1px solid transparentize($color-primary, 0.6)

	.phone, .email
		display: flex
		align-items: center
		margin-left: $gutter

		a
			font-family: $font-header

		svg
			margin-right: 10px
			height: 21px
			color: $color-primary

	svg
		font-size: 25px