header
	& > .container
		display: flex
		justify-content: space-between
		align-items: center
		padding: $gutter 0

		.left
			#logo
				a
					display: block

					img
						display: block
						width: auto
						height: 100%
						margin: 0 auto

		.right
			.contact-info
				display: none

	+mq($from: laptop)
		& > .container
			align-items: initial
			overflow: visible

			.left
				#logo a img
					max-height: 100px

			.right
				display: flex
				flex-direction: column
				justify-content: space-between
				
				.contact-info
					display: flex
					justify-content: flex-end
					align-items: center