#hero-image
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: $gutter-large 0
	color: $color-white
	text-align: center

	.line-one

	.line-two
		margin-bottom: 0

	.content
		display: none

	.buttons
		margin-top: $gutter

	+mq($from: laptop)
		text-align: left

		.line-two
			margin-bottom: $gutter-small

		.content
			display: block
			max-width: 75ch