@import "~sass-burger"
	
.header-menu
	.hamburger
		display: none!important
		+burger(25px, 3px, 5px, $color-black)

		&.active
			+burger-to-cross

	#header-menu
		// Normal Styles
		.menu-header
			display: none

		.menu-content

			.menu
				display: flex
				justify-content: flex-end

				.menu-item
					margin-left: $gutter

					&:first-of-type
						margin-left: 0

					a
						display: block
						color: $color-primary
						font-family: $font-header
						text-decoration: none
						+defaultTransition

						&:hover, &:active
							text-decoration: underline

					&.menu-item-has-children
						position: relative

						a
							display: flex
							justify-content: space-between
							align-items: center
							padding-right: 0

							svg
								font-size: 21px
								padding-left: 5px
								box-sizing: content-box

						&:hover
							.sub-menu
								display: block

						// Top level Sub menu
						.sub-menu
							background: $color-white-off

		.menu-footer
			display: none

		.menu-overlay
			display: none

	// Active Mobile Menu
	+mq($until: laptop)
		.hamburger
			display: block!important

		#header-menu
			position: fixed
			opacity: 0
			width: 75%
			right: -75%
			top: 0
			height: 100%
			+defaultTransition
			overflow: hidden

			&.active
				right: 0
				opacity: 1
				display: flex
				flex-direction: column
				background: $color-white
				z-index: 999

				.menu-header
					display: flex
					justify-content: space-between
					align-items: center
					padding: $gutter

					h3
						margin-bottom: 0

				.menu-content

					.menu
						display: block

						.menu-item
							margin-left: 0

							a
								padding: $gutter-small $gutter

								&:hover, &:active
									color: $color-white
									background: $color-primary
									text-decoration: none

								svg
									padding: 0 $gutter

							&.menu-item-has-children
								.sub-menu
									a
										padding-left: $gutter-large

				.menu-footer

				.menu-overlay
					display: block
					position: absolute
					width: 100vw
					height: 100vh
					background: rgba(0, 0, 0, 0.3)
					z-index: 888
					left: -100vw

	// Very specific desktop styles
	+mq($from: laptop)
		position: relative
		left: 6vw
		padding: 5px 8px
		background: $color-primary
		transform: skewX(-38deg)

		.desktop-border
			border: 2px solid darken($color-primary, 7%)
			padding-right: 5vw
			padding-left: 25px

		#header-menu
			transform: skewX(38deg)

			.menu-content
				.menu
					.menu-item
						a
							padding: $gutter-small 0
							color: $color-white

						&.menu-item-has-children
							.sub-menu
								position: absolute
								top: 43px
								left: 0
								width: 100%
								min-width: 200px
								background: darken($color-primary, 7%)
								transform: scaleY(0)
								transform-origin: top
								+defaultTransition
								
								a
									padding: $gutter-small $gutter

							&:hover
								.sub-menu
									transform: scaleY(1)

	+mq($from: wide)
		left: calc((100vw - 1200px) / 2 + 35px)

		.desktop-border
			padding-right: calc((100vw - 1200px) / 2 + 25px)